@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00ffff;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px #8c52ff, 0 0 20px #8c52ff, 0 0 30px #8c52ff;
}

.time-section {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 5px;
}

.time {
    font-size: 3rem;
    letter-spacing: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.label {
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    text-transform: uppercase;
}

.colon {
    font-size: 3rem;
    color: #8c52ff;
    text-shadow: 0 0 10px #8c52ff, 0 0 20px #8c52ff;
}

.expired-text {
    font-size: 4rem;
    color: red;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px darkred;
}


#logo-img {
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .time {
        font-size: 4rem;
    }

    .label {
        font-size: 1.8rem;
    }

    .time-section {
        width: 140px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 1920px) {
    .time {
        font-size: 7rem;
    }

    .label {
        font-size: 1.5rem;
    }

    .time-section {
        width: 220px;
        padding: 12px 20px;
    }
}

@media screen and (max-width: 1024px) {

    .timer {
        font-size: 3rem;
    }

    .time {
        font-size: 5rem;
    }

    .label {
        font-size: 1.6rem;
    }

    .time-section {
        width: 150px;
        padding: 6px 12px;
    }
}

@media screen and (max-width: 768px) {

    .timer {
        font-size: 2.5rem;
    }

    .time {
        font-size: 4rem;
    }

    .label {
        font-size: 1.4rem;
    }

    .time-section {
        width: 100px;
        margin: 5px;
        padding: 5px 10px;
    }

    .colon {
        font-size: 3rem;
    }

    .expired-text {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {

    .timer {
        font-size: 2rem;
    }

    .time {
        font-size: 3rem;
    }

    .label {
        font-size: 1.2rem;
    }

    .time-section {
        width: 100px;
        padding: 5px;
    }

    .colon {
        font-size: 2.5rem;
    }

    .expired-text {
        font-size: 3rem;
    }
}