.team-page > h1{
    text-align: center;
    color: rgb(30, 255, 0);
}
.team{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
.card1{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-left: 40px;
    padding: 50px 30px 50px 20px;
    background: rgba(0, 255, 153, 0.7);
    border-radius: 24px;
}
.card1 img {
    max-width: 200px;
    width: 35vw;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 
        0 60px 40px
        rgb(0 0 0 / 8%);
}
.card1 h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}
.dl .card1 h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}
.card1 h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    opacity: 0.75;
}
.card1 p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}
.card1 a{
    border: solid 2px #000000;
    color: #08636f;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 40px;
    text-decoration: none;
    max-width: fit-content;
}

@media (width <= 600px) {
    .team{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card1 {
        margin: 80px 0 0 0 ;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .card1 h2{
        text-align: center;
        margin-right: 0;
    }    
    .dl .card1 h2{
        text-align: center;
        margin-right: 0;
    }    

    .card1 img{
        width: 100%;
        margin: -100px 0 30px 0;
        max-width: 1000px;
    }
    .card1 p{
        max-width: 360px;
    }
}
@media ( width <= 600px) {
    .card1 img{
        height:45vw;
        width: 45vw;
        border-radius: 50%;
        margin-top: -140px;
        text-align: center;
    }
}