.team-page {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.team-page h1 {
  font-size: 36px;
  color: #f39c12; /* A glowing amber/orange color */
  margin-bottom: 30px;
  text-shadow: 
    0 0 10px #f39c12;
}


.team {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.card2 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(255, 255,255, 0.3);
  overflow: hidden;
  width: 280px;
  text-align: center;
  transition: transform 0.7s ease, box-shadow 0.5s ease;
}

.card2:hover {
  transform: translateY(-5px);
  border: solid 2px #2c3e50;
  box-shadow: 0 8px 20px rgba(255, 255,255, 0.3);
}

.card2 .profile-pic {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.card-content {
  padding-bottom: 20px;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
  color: #00ffcc; /* Soft neon cyan */
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
  margin: 0 0 10px 0;
}


.card-content h3 {
  font-size: 16px;
  font-weight: 400;
  color: #e5ebec;
  margin-bottom: 15px;
}

.card-content a {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.card-content a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 768px) {
    .team-page{
        padding: 0;
        margin-bottom: 40px;
    }
  .team {
    gap: 20px;
    justify-content: center;
  }

  .card2 {
    width: 100%;
    max-width: 218px;
  }

  .card2 .profile-pic {
    width: 160px;
    height: 160px;
  }

  .card-content h2 {
    font-size: 18px;
  }

  .card-content h3 {
    font-size: 14px;
  }

  .card-content a {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
    .team-page{
        padding: 0;
        margin-bottom: 40px;
    }
  .team {
    gap: 20px;
    justify-content: center;
  }

  .card2 {
    width: 100%;
    max-width: 195px;
  }

  .card2 .profile-pic {
    width: 140px;
    height: 140px;
  }

  .card-content h2 {
    font-size: 18px;
  }

  .card-content h3 {
    font-size: 14px;
  }

  .card-content a {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (min-width: 1600px) {
  .team {
    gap: 80px;
  }

  .card2 {
    width: 300px;
  }

  .card2 .profile-pic {
    width: 240px;
    height: 240px;
  }

  .card-content h2 {
    font-size: 22px;
  }

  .card-content h3 {
    font-size: 18px;
  }

  .card-content a {
    padding: 12px 24px;
    font-size: 16px;
  }
}