.prize{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.prizee{
    position: absolute;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 30px;
}

.prize-title{
    font-size: xx-large;
    color: aliceblue;
}

.prize-card{
    display: flex;
    gap: 30px;
    flex-direction: column;
    place-self: center;
    place-items: center;
}

.sprize,.tprize{
    margin-top: 100px;
}