.navbar {
  transition: all  ease;
  width: 100%; 
  z-index: 500;
  display: flex;
  justify-content: center;
  place-items: center;
  place-self: center; 
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5); */
}

.nav-container{
  width: fit-content;
  margin: 0;
}

.lap-nav{
  place-self: center;
  place-items: center;
}

.navbar.scrolled {
  position: fixed;
  top: 20px;
  left: 6%; 
  z-index: 500;
  width: 86%;
  background-color: rgba(68, 66, 74, 0.3); 
  border: 2px solid rgba(69, 30, 209, 0.75);
  box-shadow: 0 4px 15px rgba(69, 30, 209, 0.75);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 20px;
}

.navbar-nav .nav-link:hover {
  color: #8c52ff; /* Neon pink effect */
}

.navbar.scrolled .navbar-nav .nav-link{
  padding-left: 25px;
  padding-right: 30px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: #8c52ff;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.displaylogo{
  width: 15%;
}

.navbar.scrolled .nav-link {
  color: rgba(255, 255, 255, 0.8);
}


.navbar.scrolled .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}


@media screen and (max-width: 1000px) {
  .lap-nav {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .navbar.scrolled{
    width: 94%;
    left:3%;
  }
  .navbar.scrolled .navbar-nav .nav-link{
    padding-left: 5px; 
    padding-right: 5px; 
  }
}
@media screen and (min-width: 1102px) and (max-width: 1400px) {
  .navbar.scrolled{
    width: 94%;
    left:3%;
  }
  .navbar.scrolled .navbar-nav .nav-link{
    padding-left: 8px; 
    padding-right: 8px; 
  }
}
