.navbar {
  transition: all 0.3s ease;
  top: 0;
  left: 0; 
  width: 100%; 
}

.navbar.scrolled {
  position: fixed;
  top: 20px;
  left: 25%; 
  z-index: 1000;
  width: 50%;
  display: flex; 
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.75); 
  border: 2px solid rgba(0, 255, 0, 0.7);
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.4);
  backdrop-filter: blur(25px);
  border-radius: 15px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 255, 0, 0.8);
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.navbar-nav .nav-link:hover {
  color: #00ff00; 
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.8); 
  font-weight: bold;
}
.navbar.scrolled .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar.scrolled .nav-link:hover {
  color: #00ff00;
  text-shadow: 0 0 10px rgba(0, 255, 0, 1);
}

.navbar.scrolled .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 1000px) {
  .lap-nav {
    display: none;
  }
}

