.footer{
    width: 98vw;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    margin-bottom: 0;
}

.logofooter{
    width: 25%;
}

.footercontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}

.creators{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.creators > h1{
    margin-bottom: 20px;
    font-size: 2rem;
}
.creators > h3{
    font-size: 1.5rem;
}


.icons{
    width: 25%;
    display: flex;
    place-self: center;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.logos{
    place-self: center;
    place-items: center;
    display: flex;
    justify-content: center;
    gap: 15%;
}