.contact-page {
  text-align: center;
  display: flex;
  height: 80vh;
}

.contact-team {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

.contact-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  width: 280px;
  text-align: center;
  transition: transform 0.7s ease, box-shadow 0.5s ease;
}

.contact-card:hover {
  transform: translateY(-1px);
  border: solid 2px #2c3e50;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

.contact-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.contact-content {
  padding-bottom: 20px;
}

.contact-content h2 {
  font-size: 22px;
  font-weight: 600;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
  margin: 0 0 10px 0;
}

.contact-content h3 {
  font-size: 16px;
  font-weight: 400;
  color: #7f8c8d;
  margin-bottom: 15px;
}

.contact-content a {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.contact-content a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .contact-team {
    gap: 20px;
  }

  .contact-card {
    width: 100%;
    max-width: 215px;
  }

  .contact-card img {
    width: 180px;
    height: 180px;
  }

  .contact-content h2 {
    font-size: 22px;
  }

  .contact-content a {
    padding: 8px 16px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .contact-page {
    padding: 0;
  }
  .contact-team {
    gap: 20px;
    justify-content: center;
  }

  .contact-card {
    width: 100%;
    max-width: 195px;
  }

  .contact-card img {
    width: 140px;
    height: 140px;
  }

  .contact-content h2 {
    font-size: 20px;
  }
  .contact-content a {
    padding: 6px 12px;
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .contact-team {
    gap: 100px;
  }

  .contact-card {
    width: 300px;
  }

  .contact-card img {
    width: 240px;
    height: 240px;
  }

  .contact-content h2 {
    font-size: 22px;
  }

  .contact-content h3 {
    font-size: 18px;
  }

  .contact-content a {
    padding: 12px 24px;
    font-size: 16px;
  }
}
